@model List<NewsArticle>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    @foreach(var article in Model)
    {
        <li>@article.title</li>
        <li>@article.url</li>
       <br>
    }
</div>